
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <script>
       
            function submitForm(filter) {
            var currentUrl = window.location.href;
            var encodedFilter = encodeURIComponent(filter);
            window.location.href = currentUrl + '?' + encodedFilter;
        }
    </script>
    
</head>

<body>

 

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Sản Phẩm</h4>
                        <div class="breadcrumb__links">
                            <a href="~/Home/Index">Trang Chủ</a>
                            <span>Sản Phẩm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Tìm Kiếm...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Thể Loại</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div id="category" class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    @foreach (var category in Model.Item2)
                                                    {
                                                        var categoryJson = Json.Encode(category.category1);
                                                        <li><a href="#" onclick="submitForm('category=@category.category1')">@(category.category1)</a></li>

                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Nhà Xuất Bản</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div id="publisher" class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="/Products/Index?category=Kim Đồng">Kim Đồng</a></li>
                                                    <li><a href="#">Tuổi Trẻ</a></li>
                                                    <li><a href="#">Giáo Dục</a></li>
                                                    <li><a href="#">Lao Động</a></li>
                                                    <li><a href="#">Thông Tin Và Truyền Thông</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Đon Giá</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div id="price" class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#">10.000 - 50.000 VND</a></li>
                                                    <li><a href="#">50.000 - 100.000 VND</a></li>
                                                    <li><a href="#">100.000 - 150.000 VND</a></li>
                                                    <li><a href="#">150.000 - 200.000 VND</a></li>
                                                    <li><a href="#">200.000 - 250.000 VND</a></li>
                                                    <li><a href="#">250.000+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sắp Xếp:</p>
                                    <select>
                                        <option value="">Thấp Đến Cao</option>
                                        <option value="">Cao Đến Thấp</option>
                                        <option value="">0 - 100.000 VND</option>
                                        <option value="">100.000 - 200.000 VND</option>
                                        <option value="">200.000+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        @foreach (var book in Model.Item1)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg">
                                        <img src="~/assets/img/Books/@book.image" alt="">

                                        <ul class="product__hover">
                                            <li><a href="#"><img src="~/assets/img/icon/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="~/assets/img/icon/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@book.title</h6>
                                        <a href="#" class="add-cart">+ Thêm vào giỏ hàng</a>
                                        <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5>@book.price đ</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
</body>

</html>


