
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">
</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="~/assets/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/assets/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="~/assets/img/icon/cart.png" alt=""><span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7"></div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="~/SignIn/Index">Đăng Nhập</a>
                                <a href="~/SignUp/Index">Đăng Ký</a>
                            </div>
                            <div class="header__top__hover">
                                <span>VND <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="~/Home/Index"><img src="~/assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="~/Home/Index">Trang Chủ</a></li>
                            <li>
                                <a href="~/Products/Index">Sản Phẩm
                                    <div class="fly-item quantity"><span>Mới</span></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">Dịch Vụ</a>
                                <ul class="dropdown">
                                    <li><a href="~/ShoppingCart/Index">Giỏ Hàng</a></li>
                                    <li><a href="~/CheckOut/Index">Thanh Toán</a></li>
                                </ul>
                            </li>
                            <li><a href="~/Blog/Index">Blog</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="~/assets/img/icon/search.png" alt=""></a>
                        <a href="#">
                            <img src="~/assets/img/icon/heart.png" alt="">
                            <div class="fly-item quantity"><span>0</span></div>
                        </a>
                        <a href="~/ShoppingCart/Index">
                            <img src="~/assets/img/icon/shopping.png" alt="">
                            <div class="fly-item quantity "><span>0</span></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg">
                <img src="~/assets/img/Books/SachMain.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">

                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg">
                <img src="~/assets/img/Books/bookMain.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li>Best Seller</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                @model IEnumerable<dynamic>
                @foreach (var book in Model)
                { <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item">

                    <div class="product__item__pic set-bg">
                        <img src="~/assets/img/Books/book_1.png" alt="">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="~/assets/img/icon/heart.png" alt=""><span>Yêu Thích</span><span></span></a></li>
                            <li><a href="#"><img src="~/assets/img/icon/compare.png" alt=""><span>So sánh</span></a></li>
                            <li><a href="#"><img src="~/assets/img/icon/search.png" alt=""><span>Tìm Kiếm</span><span></span></a></li>
                        </ul>
                    </div>
                    <form method="post" action="@Url.Action("AddToCart", "Home")">
                        <input type="hidden" name="id" value="@book.id" />
                        <input type="number" name="quantity" value="1" />
                        <button type="submit">+ Thêm vào giỏ hàng</button>
                    </form>
                    <div class="product__item__text">
                        <h6>@book.title</h6>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>@book.price</h5>
                    </div>

                </div>
            </div>}
            

            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Siêu Giảm Giá<br /> <span>Mua 1 Tặng 10</span> <br /> Chốt Đơn Ngay</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="~/assets/img/Books/book_sale.jpg" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>15.000 VND</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Giảm Giá Trong Tuần</span>
                        <h2>Lớp Học Mật Ngữ</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
</body>

</html>


